PORT=3000
NODE_ENV=production
APP_BASE_URL=https://tu-backend.onrender.com
FRONTEND_URL=https://tu-app.vercel.app
LOCAL_DEV_MODE=false
SKIP_CURP_VALIDATION=true

SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key

GMAIL_USER=
GMAIL_PASS=

ADMIN_USER=admin
ADMIN_PASS=
JWT_SECRET=
